body{
	box-sizing: border-box;
	font-family: arial;
}
h1{
	text-align: center;
	margin-top:10lvh;
	font-size:50px;
}
form{
	margin: 0 auto;
	width:fit-content;
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	width:50lvw;
	gap:20px;
}
#review-results{
	border:1px solid red;
}
.reviews_grid{
	width:90lvw;
	margin:0 auto;
	border:1px solid red;
	display:flex;
}
.reviews_grid > *{
	border:1px solid red;
	width:50%;
}
.review{
	display:flex;
	flex-direction: column;
	gap:5px;
	background-color: #ebebeb;
	margin-bottom: 5px;
}
.date{
	align-self: flex-end;
	padding-right: 5px;
	font-size:0.8em;
}
button{
	grid-column: span 2 ;
	width:fit-content;
	padding:5px 15px;
	border-radius:8px;
	border:1px solid #c0c0c0;
	background-color: #c0c0c0;
	color:#fff;
	height:6lvh;
	justify-self:right;
	font-size:1.1em;
	cursor:pointer;
}
button:hover{
	background-color: #fff;
	color: #c0c0c0;
}
input{
	height:6lvh;
	font-size:16px;
	padding-left:10px;

}
