body{
	font-family: monospace;
}
.review{
	width:250px;
	display:flex;
	flex-direction: column;
	gap:5px;
	background-color: #ebebeb;
	margin-bottom: 5px;
}
.date{
	align-self: flex-end;
	padding-right: 5px;
}
span > span{
	text-align: right;
}
hr{
	margin:1px 0;
}